<div class="row detalles">
  <div class="col-md-8"><div>
      <img class="card-img-top" src="/assets/jarron3.jpg" alt="Card image">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card desc" style="width:400px">
      <div class="card-body"><h2>Jarrón simple</h2></div>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, consectetur veritatis assumenda at deleniti laborum esse, impedit repudiandae possimus, reprehenderit nam sunt animi laboriosam voluptatum modi error sequi in? Similique?</p>
    </div>
    <a href="detalles-jarron3" class="btn btn-primary">Comprar</a>
    <a href="detalles-jarron3" class="btn btn-primary">Agregar al carrito</a>
  </div>
  </div>