<div class="card mx-auto">
    <div class="card-header text-center">
      <h5 style="color: white">Login</h5>
    </div>
    <div class="card-body">
      <div class="entrada mb-3">
        <i class="fa-regular fa-envelope fa-beat-fade" style="color: #000000;"></i>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="usuario" placeholder="Correo Electrónico">
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key fa-beat-fade" style="color: #000000;"></i>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="contrasena" placeholder="Contraseña">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="verificarCredenciales()">Iniciar Sesión</button>
      <div id="emailHelp" class="form-text">
        Al registrarte aceptas nuestras políticas de uso, condiciones y privacidad.
        ¿No tienes una cuenta? <a href="/registrar">Regístrate</a>
      </div>
    </div>
  </div>
  