/* Agrega este estilo en tu archivo de estilos CSS */
/* Estilos para los botones */
.btn-primary {
    background-color: #d8ca08;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-warning:hover {
    background-color: #d39e00;
  }
  
  .btn-info-icon {
    position: relative;
    padding-left: 30px;
    transition: color 0.3s ease;
  }
  
  .btn-info-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .btn-info-icon:hover {
    color: #17a2b8;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  