<app-navusr></app-navusr>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">

        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/tipos">Gestor de Categorias</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href='/admi-product'>Gestor de Productos</a>
          </div>
        </div>
        
        <div class="boton">
          <button type="button" class="btn btn-primary" onclick="window.location.href='/admin'">Regresar</button>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/usuarios">Administradores</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/clientes">Administración de clientes</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/pedidos">Administración de pedidos</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/detalle de pedidos">Detalles de los pedidos</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/galleria">Editar Galeria</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/Materiales">Administración de materiales</a>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="nav-item dropdown">
            <a class="btn btn-primary btn-lg btn-block" href="/probedor">Agenda de Proveedores</a>
          </div>
        </div>
      
      </div>
    </div>
   
    <div class="col-md-4">
      <div class="card text-center">
        <img class="card-img-top mx-auto" src="assets/usuario.webp" alt="Card image" style="width: 180px; height: 240px;">
        <div class="card-body">
          <h4 class="card-title">Administrador</h4>
          <p class="card-text">Bienvenido, señor admin</p>
          <div class="col-md-6 mx-auto">
          <a href="#" class=" btn btn-info">Cambiar perfil</a>
        </div>
          <div class="col-md-6 mx-auto ">
          <a href="#" class=" btn btn-info ">Chats <i class="fas fa-comments"></i></a>
        </div></div>
      </div>
    </div>
  </div>
</div>
