<app-navusr></app-navusr>
<div class="container">
  <div class="row">
      <div class="col-md-9">
<div class="row">
  <div class="col-md-2">
    <li class="nav-item dropdown">
      <button type="button" class="btn btn-warning" href="/tipos">Gestor de tipos</button>
    </li>
  </div>
  <li class="nav-item dropdown">
    <button type="button" class="btn btn-warning" href="/admi-product">Gestor de Productos</button>
  </li>
  <div class="col-md-2">
    <li class="nav-item dropdown">
      <button type="button" class="btn btn-warning" href="/clientes">administración de clientes</button>
    </li>
    <li class="nav-item dropdown">
      <button type="button" class="btn btn-warning" href="/pedidos">administración de pedidos</button>
    </li>
  </div>
    <div class="col-md-9">
    <li class="nav-item dropdown">
      <button type="button" class="btn btn-warning" href="/Materiales">administración de materiales</button>
    </li>
    <li class="nav-item dropdown">
      <button type="button" class="btn btn-warning" href="/detalles-pedidos">detalle de los pedidos</button>
    </li>
  </div>

  <!-- Agregamos una columna adicional para alinear la card a la derecha -->
  <div class="col-md-2 offset-md-4">
    <div class="card text-center" style="width: 400px">
      <img class="card-img-top mx-auto" src="assets/usuario.webp" alt="Card image" style="width: 180px; height: 240px;">
      <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title">Administrador</h4>
        <p class="card-text">Bienvenido señor admin</p>
        <div class="col-md-12">
          <a href="#" class="btn btn-info">Cambiar perfil</a>
        </div>
      </div>
      <div class="col-md-12">
        <a href="#" class="btn btn-info">Chats</a>
        <i class="fa-solid fa-messages"></i>
      </div>
    </div>
  </div>
</div>
