<app-navbasic></app-navbasic>

<h1>¡Bienvenido!</h1>
<br>
<h2>Descubre nuestros productos</h2>
<div class="container">
  <div class="row">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://localhost:3000/uploads/c0015402-cd07-4519-9b1a-93eeb3ff7d2e.jpeg" alt="Azulejos" class="d-block w-100 custom-img">
          <div class="carousel-caption">
            <h3>Título de la imagen 1</h3>
            <p>Descripción de la imagen 1.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="http://localhost:3000/uploads/ecf62947-cbe7-43fb-a3e4-eac37dfba2ed.jpeg" alt="Chicago" class="d-block w-100 custom-img">
          <div class="carousel-caption">
            <h3>Título de la imagen 2</h3>
            <p>Descripción de la imagen 2.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="assets/jarron1.jpg" alt="New York" class="d-block w-100 custom-img">
          <div class="carousel-caption">
            <h3>Título de la imagen 3</h3>
            <p>Descripción de la imagen 3.</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

  <div class="boton">
    <button type="button" class="btn btn-custom btn-block" (click)="login()">Inicia sesión para ver más</button>
  </div>
  
  
  <div class="vision-mision-valores">
    <h3>Visión, Misión y Valores</h3>
    <div class="contenido">
      <div class="seccion">
        <h4>Misión</h4>
        <p>Proporcionar productos de talavera y cerámica de la más alta calidad, resaltando la belleza artesanal de nuestra cultura y preservando nuestras tradiciones, para llevar alegría y elegancia a los hogares de nuestros clientes, al tiempo que promovemos el talento de nuestros artesanos locales.</p>
      </div>
      <div class="seccion">
        <h4>Visión</h4>
        <p>Ser la principal referencia en el mercado de productos de talavera y cerámica, reconocidos por nuestra autenticidad, calidad y compromiso con el arte y la cultura, expandiendo nuestra presencia tanto a nivel nacional como internacional, y siendo una fuente de inspiración para la apreciación de la artesanía tradicional.</p>
      </div>
      <div class="seccion">
        <h4>Valores</h4>
        <ul>
          <li>Excelencia Artesanal</li>
          <li>Preservación Cultural</li>
          <li>Compromiso Social</li>
          <li>Creatividad e Innovación</li>
          <li>Satisfacción del Cliente</li>
        </ul>
      </div>
    </div>
  </div>
</div>