<h1>¡Bienvenido a Crafts Gallery!</h1>
<br />
<h2>Categorias</h2>
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img src="assets/deco.jpeg" class="card-img-top card-img" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Decoraciones</h5>
          <p class="card-text">
            Explora nuestra colección y déjate inspirar por la belleza de la
            cerámica.
          </p>
          <a href="/deco" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img
          src="assets/vajilla.webp"
          class="card-img-top card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Vajillas</h5>
          <p class="card-text">
            Explora y encuentra 
            el conjunto perfecto para tu hogar.
          </p>
          <a href="/vajillas" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img
          src="assets/jarrones.jpeg"
          class="card-img-top card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Jarrones</h5>
          <p class="card-text">
            Explora nuestra colección y encuentra el jarrón perfecto para
            embellecer tu hogar.
          </p>
          <a href="#" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
