<app-navusr></app-navusr>

<div class="card">
    <div class="card-body">
        <form #proveedorForm="ngForm">
            <input type="hidden" name="id_proveedor" [(ngModel)]="proveedoresService.proveedor.id_proveedor">
            
            <div class="form-group d-flex mx-auto align-items-center">
                <div class="form-group">
                    <label for="nombre">Nombre del Proveedor</label>
                    <input type="text" class="form-control" id="nombre" name="nom_proveedor" [(ngModel)]="proveedoresService.proveedor.nom_proveedor" placeholder="Nombre del Proveedor">
                </div>
                <div class="form-group">
                    <label for="nombre">Correo</label>
                    <input type="text" class="form-control" id="nombre" name="correo" [(ngModel)]="proveedoresService.proveedor.correo" placeholder="Correo">
                </div>
                <div class="form-group">
                    <label for="nombre">Telefono</label>
                    <input type="text" class="form-control" id="nombre" name="telefono" [(ngModel)]="proveedoresService.proveedor.telefono" placeholder="Telefono">
                </div>
  
                <button type="reset" class="btn btn-secondary m-2" (click)="formReset(proveedorForm)">
                    Limpiar
                </button>
  
                <button class="btn btn-primary m-2" (click)="createProveedores(proveedorForm)">
                    Guardar
                </button>
  
                <button class="btn btn-primary m-2" (click)="updateProveedores(proveedorForm)">
                    Actualizar
                </button>
            </div>

        </form>
    </div>
</div>

  
<div class="col-md-12">
    <table class="table table-dark">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Proveedor</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let item of proveedoresService.proveedores" class="table-secondary">
                <td><b>{{ item.id_proveedor }}</b></td>
                <td>{{ item.nom_proveedor }}</td>
                <td>{{ item.correo }}</td>
                <td>{{ item.telefono }}</td>
                <td>
                    <button class="btn btn-info btn-sm tbutton" (click)="editProveedores(item)">
                        <i class="fa fa-edit"></i>
                    </button>  
                
                    <button class="btn btn-danger btn-sm tbutton" (click)="deleteProveedores(item.id_proveedor)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
