<app-navusr></app-navusr>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Mensajes</title>
  <!-- Agrega enlaces a las bibliotecas de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Enviar Mensaje
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <form #productoForm="ngForm"></form>
           

              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="3" placeholder="Escriba su mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </form>
        </div>
      
      </div>
    </div>
  </div>
</div>


