<app-navbasic></app-navbasic>
<div class="card mx-auto">
  <div class="card-header text-center">
    <h5 style="color: white">Registrate</h5>
  </div>
  <form #registroForm="ngForm" (ngSubmit)="verificarCredenciales(registroForm)">
    <div class="card-body">
      <div class="entrada mb-3">
        <i class="fa-regular fa-user fa-beat-fade" style="color: #000000;"></i>
        <input type="text" class="form-control" id="nom_cliente" [(ngModel)]="nom_cliente" placeholder="Nombre" name="nom_cliente" required>
      </div>
      <div class="entrada mb-3">
        <i class="fa-regular fa-envelope fa-beat-fade" style="color: #000000;"></i>
        <input type="email" class="form-control" id="Email" [(ngModel)]="correo" placeholder="Correo Electrónico" name="correo" required>
      </div>
      <div class="entrada mb-3">
        <i class="fa-regular fa-street-view fa-beat-fade" style="color: #000000;"></i>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="direccion" placeholder="Dirección" name="direccion" required>
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-phone fa-bounce" style="color: #000000;"></i>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono" placeholder="Teléfono" name="telefono" required>
      </div>
      <div class="entrada mb-3">
        <i class="fa-regular fa-id-card fa-beat-fade" style="color: #000000;"></i>
        <input type="text" class="form-control" id="rfc" [(ngModel)]="rfc" placeholder="RFC" name="rfc" required>
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key fa-beat-fade" style="color: #000000;"></i>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="pass" placeholder="Contraseña" name="pass" required>
      </div>
      <div class="error">{{ errorRegistro }}</div>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Registrarse</button>
      <div id="registroHelp" class="form-text">
        ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
      </div>
    </div>
  </form>
  <div class="card-footer text-center">
    <button class="btn btn-danger" (click)="regresar()">Regresar</button>
  </div>
</div>