<app-navbasic></app-navbasic>

<div class="card mx-auto">
    <div class="card-header text-center">
      <h5 style="color: white">Registrate</h5>
    </div>
    <form action="/login">
      <div>
        <div class="card-body">
          <div class="entrada mb-3">
            <i class="fa-regular fa-user fa-beat-fade" style="color: #000000;"></i>
            <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="Nombre Completo">
          </div>
          <div class="entrada mb-3">
            <i class="fa-regular fa-envelope fa-beat-fade" style="color: #000000;"></i>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Correo Electrónico">
          </div>
          <div class="entrada mb-3">
            <i class="fa-solid fa-phone fa-bounce" style="color: #000000;"></i>
            <input type="tel" class="form-control" id="exampleInputPhone" name="phone" placeholder="Teléfono Celular">
          </div>
          <div class="entrada mb-3">
            <i class="fa-solid fa-key fa-beat-fade" style="color: #000000;"></i>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña">
          </div>
          <div class="entrada mb-3">
            <i class="fa-solid fa-rotate-right fa-spin" style="color: #000000;"></i>
            <input type="password" class="form-control" id="exampleInputPassword2" name="confirmPassword" placeholder="Repetir Contraseña">
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
          <div id="emailHelp" class="form-text">
            Al registrarse, aceptas nuestras políticas de uso, condiciones y privacidad.
            ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
          </div>
        </div>
      </div>
    </form>
  </div>  