<h1>JARRONES</h1>
<div class="container">
    <div class="row d-flex">
      <div class="col-sm-6 col-md-4">
        <div class="card h-100" style="width: 18rem">
          <img src="assets/jarron1.jpg" class="card-img-top card-img" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jarrón Floreado</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="detalles-jarron1" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card h-100" style="width: 18rem">
          <img
            src="assets/jarron2.jpg"
            class="card-img-top card-img"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Jarroncito Floreado</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="detalles-jarron2" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card h-100" style="width: 18rem">
          <img src="assets/jarron3.jpg" class="card-img-top card-img" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jarrón simple</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="detalles-jarron3" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card h-100 mrgn" style="width: 18rem">
          <img src="assets/jarron4.jpg" class="card-img-top card-img" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jarrón Mayor</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="detalles-jarron4" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>