<h1>Crafts Gallery</h1>
<br />
<h2>Categorías</h2>
<div class="container">
  <div class="row d-flex">
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img src="assets/decorativos.jpg" class="card-img-top card-img" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Decorativos</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="azulejos" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img
          src="assets/vajillas.jpg"
          class="card-img-top card-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Vajillas</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="vajillas" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card h-100">
        <img src="assets/jarrones.jpg" class="card-img-top card-img" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Jarrones</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="jarrones" class="btn btn-primary">Ver Productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
