<app-navusr></app-navusr>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #tipoForm="ngForm" (ngSubmit)="createTipos(tipoForm)">
                    <input type="hidden" name="id_tipo" [(ngModel)]="tiposService.tipo.id_tipo">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tipo" name="tipo" [(ngModel)]="tiposService.tipo.tipo">
                    </div>

                    <button type="reset" class="btn btn-secondary m-2" (click)="formReset(tipoForm)">
                        Limpiar
                    </button>

                    <button class="btn btn-primary m-2">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

<div class="col-md-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of tiposService.tipos">
                <td>{{ item.id_tipo }}</td>
                <td>{{ item.tipo }}</td>
                <td>
                    <button class="btn btn-secondary btn-sm" (click)="editTipos(item)">
                        <i class="material-icons">Edit</i>
                    </button>  
                    <button class="btn btn-danger btn-sm" (click)="deleteTipos(item.id_tipo)">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>