.entrada{
    position: relative;
}

i{
    position: absolute;
    left: 11px;
    top: 18px;
}

.form-control{
    padding-left: 40px;
}

.card{
    width: 400px;
    padding: 40px;
    padding: auto;
    margin-top: 40px;
}

button{
    width: 100%;
}

.error{
    text-align: center;
    color: red;
}

#loginHelp{
    text-align: center;
}