<app-navbasic></app-navbasic>
<div class="card mx-auto">
  <div class="card-header text-center">
    <h5 style="color: white">Inicia Sesión</h5>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="verificarCredenciales(loginForm)">
    <div class="card-body">
      <div class="entrada mb-3">
        <i class="fa-regular fa-envelope fa-beat-fade" style="color: #000000;"></i>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="correo" placeholder="Correo Electrónico" name="correo">
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key fa-beat-fade" style="color: #000000;"></i>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="pass" placeholder="Contraseña" name="pass">
      </div>
      <div class="error">{{ errorInicioSesion }}</div>
      <br>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      <div id="loginHelp" class="form-text">
        ¿No Tienes Cuenta? <a href="/registro">Registrate</a>
      </div>
    </div>
  </form>
  <div class="card-footer text-center">
    <button class="btn btn-danger" (click)="regresar()">Regresar</button>
  </div>
</div>




