.card-img {
    height: 1300px; /* Establece la altura deseada para las imágenes */
    padding:400px;
}
.card-text{
    right: 90px;
    margin: 20px;
}
.card-img{
    grid: 90px;
}
.detalles{
    display:flex;
}