<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Producto</th>
          <th>Existencia</th>
          <th>Cantidad optima</th>
          <th>Precio X unidad</th>
          <th></th>
          <th>Sex</th>
          <th>Example</th>
          
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
          <td>Female</td>
          
        </tr>
      </tbody>
    </table>
  </div>
