<app-navusr></app-navusr>

<div class="card">
  <div class="card-body">
      <form #productoForm="ngForm">
          <input type="hidden" name="id_producto" [(ngModel)]="productosService.producto.id_producto">
          
          <div class="form-group d-flex mx-auto align-items-center">
            <label for="descripcion">Nombre del producto</label>
            <input type="text" class="form-control" id="nombre" name="descripcion" [(ngModel)]="productosService.producto.descripcion" placeholder="Nombre del Producto">
        </div>
        <div class="form-group" >
            <label for="nombre">Tamaño </label>
            <input type="text" class="form-control" id="nombre " name="tamano" [(ngModel)]="productosService.producto.tamano" placeholder ="Tamaño" >
        </div>
        <div class="form-group" >
            <label for="nombre">Color </label>
            <input type="text" class="form-control" id="nombre " name="color" [(ngModel)]="productosService.producto.color"placeholder ="Color" >
        </div>
        <div class="form-group" >
            <label for="nombre">id_tipo</label>
            <input type="text" class="form-control" id="nombre " name="id_tipo" [(ngModel)]="productosService.producto.id_tipo"placeholder ="id_tipo" >
        </div>
        <div class="form-group" >
            <label for="nombre">imagen</label>
            <input type="text" class="form-control" id="nombre " name="imagen" [(ngModel)]="productosService.producto.imagen"placeholder ="Imagen" >
        </div>
        <div class="form-group" >
            <label for="nombre">precio_mayoreo</label>
            <input type="text" class="form-control" id="nombre " name="precio_mayoreo"[(ngModel)]="productosService.producto.precio_mayoreo"placeholder ="precio_mayoreo" >
        </div>
        <div class="form-group" >
            <label for="nombre">precio_menudeo</label>
            <input type="text" class="form-control" id="nombre " name="precio_menudeo"[(ngModel)]="productosService.producto.precio_menudeo"placeholder ="precio_menudeo" >
        </div>
        <div class="form-group" >
            <label for="nombre">existencias</label>
            <input type="text" class="form-control" id="nombre " name="existencias" [(ngModel)]="productosService.producto.existencias"placeholder ="existencias" >
        </div>


              <button type="reset" class="btn btn-secondary m-2" (click)="formReset(productoForm)">
                  Limpiar
              </button>

              <button class="btn btn-primary m-2" (click)="createProductos(productoForm)">
                  Guardar
              </button>

              <button class="btn btn-primary m-2" (click)="updateProductos(productoForm)">
                  Actualizar
              </button>
    


 
<div class="col-md-12">
    <table class="table table-dark">

      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del Producto</th>
          <th>Tamaño</th>
          <th>Color</th>
          <th> Tipo de producto</th>
          <th>Imagen</th>
          <th>Precio por Mayoreo</th>
          <th>Precio por Menudeo</th>
          <th>Existencias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productosService.productos" class="table-danger">
          <td><b>{{ item.id_producto }}</b></td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.tamano }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.id_tipo }}</td>
          <td>{{ item.imagen }}</td>
          <td>{{ item.precio_mayoreo }}</td>
          <td>{{ item.precio_menudeo }}</td>
          <td>{{ item.existencias }}</td>
          <td>
              <button class="btn btn-info btn-sm tbutton" (click)="editProductos(item)">
                  <i class="fa fa-edit"></i>
              </button>  
          
              <button class="btn btn-danger btn-sm tbutton" (click)="deleteProductos(item.id_producto)">
                  <i class="fa fa-trash"></i>
              </button>
          </td>
      </tr>
  </tbody>

</table>
</div>
