<p>detalles-decorativo4 works!</p>
<div class="card" style="width:400px">
    <img class="card-img-top" src="/assets/decorativo4.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Huevitos Pascua</h4>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, consectetur veritatis assumenda at deleniti laborum esse, impedit repudiandae possimus, reprehenderit nam sunt animi laboriosam voluptatum modi error sequi in? Similique?</p>
    </div>
  </div>